doctype html
html
  head
    meta(charset='utf-8')
    | &#x9;
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    | &#x9;
    title Himachal TourInfo
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | &#x9;
    meta(name='description', content='')
    | &#x9;
    meta(name='keywords', content='')
    | &#x9;
    meta(name='author', content='')
    // Facebook and Twitter integration
    meta(property='og:title', content='')
    | &#x9;
    meta(property='og:image', content='')
    | &#x9;
    meta(property='og:url', content='')
    | &#x9;
    meta(property='og:site_name', content='')
    | &#x9;
    meta(property='og:description', content='')
    | &#x9;
    meta(name='twitter:title', content='')
    | &#x9;
    meta(name='twitter:image', content='')
    | &#x9;
    meta(name='twitter:url', content='')
    | &#x9;
    meta(name='twitter:card', content='')
    | &#x9;
    link(href='https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700', rel='stylesheet')
    // Animate.css
    link(rel='stylesheet', href='css/animate.css')
    // Icomoon Icon Fonts
    link(rel='stylesheet', href='css/icomoon.css')
    // Bootstrap
    link(rel='stylesheet', href='css/bootstrap.css')
    // Magnific Popup
    link(rel='stylesheet', href='css/magnific-popup.css')
    // Flexslider
    link(rel='stylesheet', href='css/flexslider.css')
    // Owl Carousel
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    | &#x9;
    link(rel='stylesheet', href='css/owl.theme.default.min.css')
    // Date Picker
    link(rel='stylesheet', href='css/bootstrap-datepicker.css')
    // Flaticons
    link(rel='stylesheet', href='fonts/flaticon/font/flaticon.css')
    // Theme style
    link(rel='stylesheet', href='css/style.css')
    // Modernizr JS
    script(src='js/modernizr-2.6.2.min.js')
    // FOR IE9 below
    //if lt IE 9
      script(src='js/respond.min.js')
  | &#x9;
  body
    .colorlib-loader
    | &#x9;
    #page
      nav.colorlib-nav(role='navigation')
        .top-menu
          .container-fluid
            .row
              .col-xs-2
                #colorlib-logo
                   a(href='/home' style="font-family:Lucida Calligraphy") Tour  Info
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .col-xs-10.text-right.menu-1
                ul
                  li
                    a(href='/home') Home
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='/destination') Destination
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='/adventures') Adventures
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.has-dropdown
                    a(href='/booking') Bookings
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    ul.dropdown
                      li
                        a(href='/travel') Travel
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='/hotel1') Hotels
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='/aboutus') About Us
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='/contact') Contact
                  li.active
                    a(href='/signup') Register  
      | &#x9;&#x9;
      aside#colorlib-hero
        .flexslider
          ul.slides
            li(style='background-image: url(images/cover-img-3.jpg);')
              .overlay
              | &#x9;&#x9;&#x9;   &#x9;&#x9;
              .container-fluid
                .row
                  .col-md-6.col-md-offset-3.col-sm-12.col-xs-12.slider-text
                    .slider-text-inner.text-center
                      h1(style="font-size:60px;") Contact Us
      | &#x9;&#x9;
      #colorlib-contact
        .container
          .row
            .col-md-10.col-md-offset-1.animate-box
              h3 Get In Touch
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              form(action='/contact' method='post')
                .row.form-group
                  .col-md-6.padding-bottom
                    label(for='fname') First Name
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    input#fname.form-control(type='text', placeholder='Your firstname' name='fname')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .col-md-6
                    label(for='lname') Last Name
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    input#lname.form-control(type='text', placeholder='Your lastname' name='lname')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .row.form-group
                  .col-md-12
                    label(for='email') Email
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    input#email.form-control(type='text', placeholder='Your email address' name='email' )
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .row.form-group
                  .col-md-12
                    label(for='subject') Subject
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    input#subject.form-control(type='text', placeholder='Your subject of this message' name='subject' )
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .row.form-group
                  .col-md-12
                    label(for='message') Message
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    textarea#message.form-control(name='message', cols='30', rows='10', placeholder='Say something about us')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .form-group.text-center
                  input.btn.btn-primary(type='submit', value='Send Message')
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .col-md-10.col-md-offset-1.animate-box
              h3 Contact Information
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .row.contact-info-wrap
                .col-md-4
                  p
                    span
                      i.icon-location
                    |  291 Industrial Area, 
                    br
                    |  Jalandhar,Punjab
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-4
                  p
                    span
                      i.icon-phone3
                    |  
                    a(href='#') +  0181 2257340
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-4
                  p
                    span
                      i.icon-paperplane
                    |  
                    a(href='#') travelinfo@gmail.com
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                
    
      .row
        .col-md-12
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109066.42047314157!2d75.50337905161291!3d31.322378738751176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5a5747a9eb91%3A0xc74b34c05aa5b4b8!2sJalandhar%2C+Punjab!5e0!3m2!1sen!2sin!4v1531462691537" 
          width="100%" max-height="500" height="500px" frameborder="0" style="border:0" allowfullscreen)
          | &#x9;
          | &#x9;&#x9;
          | &#x9;&#x9;
      footer#colorlib-footer(role='contentinfo')
        p
          ul.colorlib-social-icons
            li
              a(href='https://twitter.com/')
                i.icon-twitter
            li
              a(href='https://www.facebook.com/')
                i.icon-facebook
            li
              a(href='https://in.linkedin.com/')
                i.icon-linkedin
            li
              a(href='https://dribbble.com/')
                i.icon-dribbble
          p(style="text-align:center;margin-bottom:-10px;")
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright ©
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved | 
    .gototop.js-top
      a.js-gotop(href='#')
        i.icon-arrow-up2
    // jQuery
    script(src='js/jquery.min.js')
    // jQuery Easing
    script(src='js/jquery.easing.1.3.js')
    // Bootstrap
    script(src='js/bootstrap.min.js')
    // Waypoints
    script(src='js/jquery.waypoints.min.js')
    // Flexslider
    script(src='js/jquery.flexslider-min.js')
    // Owl carousel
    script(src='js/owl.carousel.min.js')
    // Magnific Popup
    script(src='js/jquery.magnific-popup.min.js')
    | &#x9;
    script(src='js/magnific-popup-options.js')
    // Date Picker
    script(src='js/bootstrap-datepicker.js')
    // Stellar Parallax
    script(src='js/jquery.stellar.min.js')
    // Google Map
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false')
    | &#x9;
    script(src='js/google_map.js')
    // Main
    script(src='js/main.js')
