doctype html
html
  head
    title= title
    script(src="javascripts/jquery.min.js") 
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='css/styledemo.css')
body
  block content